@font-face {
    font-family: 'helvetica_neue_lt_std65Md';
    src: url('helvetica_neue_lt_std_65_medium-webfont.woff2') format('woff2'),
         url('helvetica_neue_lt_std_65_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helvetica_neue_lt_std75_bold';
    src: url('helvetica_neue_lt_std_75_bold-webfont.woff2') format('woff2'),
         url('helvetica_neue_lt_std_75_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsbold';
    src: url('poppins-bold-webfont.woff2') format('woff2'),
         url('poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinssemibold';
    src: url('poppins-semibold-webfont.woff2') format('woff2'),
         url('poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikbold';
    src: url('rubik-bold-webfont.woff2') format('woff2'),
         url('rubik-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikmedium';
    src: url('rubik-medium-webfont.woff2') format('woff2'),
         url('rubik-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikregular';
    src: url('rubik-regular-webfont.woff2') format('woff2'),
         url('rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displaybold';
    src: url('ofont.ru_playfair_display-webfont.woff2') format('woff2'),
         url('ofont.ru_playfair_display-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'interregular';
    src: url('inter-regular-webfont.woff2') format('woff2'),
         url('inter-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}